<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="application/css/bootstrap.css" rel="stylesheet">
    <link href="application/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="application/css/bootstrap-reboot.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="application/js/bootstrap.js"></script>
    <script src="application/js/bootstrap.bundle.js"></script>
</head>
